<!DOCTYPE html>
<html>
    <head>
        <title>Relatório de Alunos por Curso</title>
    </head>
    <body>
        <div><a href="{{ url_for ('index') }}">VOLTAR PARA A PÁGINA INICIAL</a></div>
        <div>
            <label for="curso_id">CURSO: </label>
            <form method="post">
                <select id="curso_id" name="curso_id">
                    {% for curso in cursos %}
                    <option value="{{curso[0]}}">{{curso[1]}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Mostrar Alunos do Curso Selecionado">
            </form>
            <table>
                <tr>
                    <th>NOME</th>
                    <th>CPF</th>
                    <th>NUMERO MATRÍCULA</th>
                </tr>
                {% for aluno in alunos %}
                <tr>
                    <td>{{aluno[0]}}</td>
                    <td>{{aluno[1]}}</td>
                    <td>{{aluno[2]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>